<script>
    // Import .css files installed with npm to be included using
    // the rollup-css-plugin-only into `public/build/extra.css`.
    import '../node_modules/flexboxgrid/css/flexboxgrid.min.css';

    import { Router, Route } from 'svelte-routing';

    import Home from './routes/Home.svelte';
    import About from './routes/About.svelte';
    import OAuthComplete from './routes/OAuthComplete.svelte';
    import NotFound from './routes/NotFound.svelte';
</script>

<Router>
    <Route path="/" component={Home}/>
    <Route path="/complete/" component={OAuthComplete}/>
    <Route path="/about/" component={About}/>

    <!-- 404 page definition -->
    <Route component={NotFound}/>
</Router>
