/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Karla:wght@400;700&family=Open+Sans:ital,wght@0,300;1,300&display=swap');


/* General CSS properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Open Sans', 'Trebuchet MS', 'Arial', sans-serif;
    font-weight: 400;
    color: rgb(40, 40, 40);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Modified main to get the footer always on the bottom of the page */
main {
    width: 100%;
    flex: 1 0 auto;
}

/* Headers customization */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla';
    font-weight: 700;
}

/* Text settings */
.title {
    margin: 10px 0;
}

.subtitle {
    margin: 10px 0;
    font-family: 'Karla';
    font-size: 2rem;
}

.description {
    font-style: italic;
}

@media screen and (min-width: 1200px) {
    .description {
        max-width: 90%;
    }

    .title {
        font-size: 3rem;
    }
}

/* CTA buttons style */
.section-buttons {
    margin: 20px 0;
}

/* Buttons */
.btn {
    display: inline-block;
    outline: none;
    border: none;
    background-color: rgb(40, 40, 40);
    color: rgb(248, 248, 248);
    padding: 13px 25px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: filter .15s linear;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(110%);
}

.btn_action {
    background: rgb(52, 164, 217);
    background: linear-gradient(120deg, rgba(52,164,217,1) 10%, rgba(62,176,4,1) 100%);
}

/* Containers */
.container {
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (min-width: 992px and max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 768px and max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px and max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Full width container */
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

/* Links special CSS*/
a {
    text-decoration: none;
    color: inherit;
}

a.link {
    color: #34a4d9;
}

a.link:hover {
    text-decoration: underline;
}

/* Images */
.responsive-img {
    max-width: 100%;
    height: auto;
}
