<script>
    import { botURL } from '../settings.js'; 
</script>

<header>
    <nav class="container navbar">
        <h1 class="header-logo">
            <a class="logotype" href="/">
                <img src="/images/logo.svg" width="30" height="30" alt="">
                <span class="logo-text">Telenote</span>
            </a>
        </h1>
        <ul class="nav-links">
            <li class="nav-links__link">
                <a href="/">
                    <span class="nav-links__link__text">Home</span>
                    <img class="nav-links__link__icon" src="/images/home.svg" alt="Home">
                </a>
            </li>
            <li class="nav-links__link">
                <a href="/about">
                    <span class="nav-links__link__text">About</span>
                    <img class="nav-links__link__icon" src="/images/about.svg" alt="About">
                </a>
            </li>
            <li class="nav-links__link">
                <a href={botURL}>
                    <span class="nav-links__link__text">Bot</span>
                    <img class="nav-links__link__icon" src="/images/bot.svg" alt="Bot">
                </a>
            </li>
        </ul>
   </nav>
</header>


<style>
    header {
        width: 100%;
        height: 70px;
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        position: sticky;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 10px;
    }

    a.logotype {
        font-family: 'Karla';
        display: flex;
        align-items: center;
    }

    .logo-text {
        margin-left: 10px;
    }

    .nav-links {
        list-style: none;
        display: block;
        height: 100%;
    }

    .nav-links__link {
        display: inline-block;
        height: 100%;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Karla'
    }

    .nav-links__link > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 20px;
        padding: 20px 10px;
    }

    .nav-links__link > a:hover {
        background-color: rgb(240, 240, 240);
    }

    .nav-links__link__text {
        display: inline-block;
        line-height: 30px;
    }

    .nav-links__link__icon {
        width: 30px;
        height: 30px;
        margin: 0 3px 0 7px;
        float: right;
    }

    @media screen and (max-width: 576px) {
        .nav-links__link__text {
            display: none;
        }
    }

    @media screen and (max-width: 380px) {
        .logo-text {
            display: none;
        }
    }
</style>
