<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import PageTitle from '../components/PageTitle.svelte';
</script>

<svelte:head>
    <title>Telenote / About</title>
</svelte:head>

<Header/>
<main>
    <PageTitle>Why Telenote?</PageTitle>
    <div class="container">

        <!-- Feature 1 -->
        <div class="row section middle-xs">
            <div class="col-xs-12 col-lg-6">
                <h2 class="subtitle">Keep organized</h2>
                <p class="description">Telenote can use the power of both Telegram and Evernote. It links their API to combine the efficiensy of everyday-used messanger and organization features of one of the best note applications.</p> 
            </div>
            <div class="col-xs-12 col-lg-6 first-xs last-lg row center-xs">
                <img src="/images/keep_organized.svg" width="250" height="250" alt="Keep organized">
            </div>
        </div>

        <!-- Feature 2 -->
        <div class="row section middle-xs">
            <div class="col-xs-12 col-lg-6 row center-xs">
                <img src="/images/easy_to_use.svg" width="250" height="250" alt="Easy to use">
            </div>
            <div class="col-xs-12 col-lg-6">
                <h2 class="subtitle">Easy to use</h2>
                <p class="description">To use Telenote you will just need to add our Telegram Bot to a list of your contacts, authorize our application in your Evernote profile by running a short command to grant us access to manage your notes and forward any message you want to save. Simple!</p>
            </div>
        </div>

        <!-- Feature 3 --> 
        <div class="row section middle-xs">
            <div class="col-xs-12 col-lg-6">
                <h2 class="subtitle">Open source</h2>
                <p class="description">
                    You can make Telenote better by your own. Suggest us an improvement via <a class="link" href="https://github.com/vitaliy-diachkov/telenote/issues">Github issues</a> or contact us by <a class="link" href="mailto:diachkovspecial@gmail.com">email</a>. You can also see the Telenote soruce code in our repository to make sure everything is clear and your private data is in safe.
                </p>
            </div>
            <div class="col-xs-12 col-lg-6 first-xs last-lg row center-xs">
                <img src="/images/open_source.svg" width="250" height="250" alt="Open Source">
            </div>
        </div>
    </div>
</main>
<Footer/>

<style>
    .section {
        margin: 20px auto;
    } 
</style>
