<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
</script>

<svelte:head>
    <title>Not found / Telenote</title>
</svelte:head>

<main class="center-wrapper">
    <div class="container row center-xs">
        <div class="col-xs-12 row center-xs">
            <img src="/images/404.svg" width="250" height="250" alt="404 Not Found">
        </div>
        <div class="col-xs-12 row center-xs">
            <h1 class="title title_small">Whoops! You have turned the wrong way</h1>
            <p class="description description_centered">The page with given URL seems not to be presented on our website. But do not become upset, we have much more to show you. Please, follow <a href="/" class="link">this link</a> to get back to the home page.</p>
        </div>
    </div>
</main>

<style>
    .title_small {
        font-size: 2.2rem;
        margin: 20px 0;
    }

    @media screen and (min-width: 992px) {
        .description_centered {
            max-width: 60%;
        }
    }
</style>
